name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  app-test:
    name: App Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup pnpm cache
        uses: ./.github/actions/cache-pnpm
        with:
          shell: 'nix shell nixpkgs/nixos-25.05#pnpm -c bash -e {0}'

      - name: Lint Code
        shell: 'nix develop -c bash -e {0}'
        run: make check.app

  app-build:
    name: App Build
    runs-on: ubuntu-latest
    needs:
      - app-test
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup pnpm cache
        uses: ./.github/actions/cache-pnpm
        with:
          shell: 'nix shell nixpkgs/nixos-25.05#pnpm -c bash -e {0}'

      - name: Build blog
        shell: 'nix develop -c bash -e {0}'
        run: make build

      - name: Upload App
        uses: actions/upload-artifact@v5
        with:
          name: app-web
          path: ./dist

  app-deploy-staging:
    name: App Staging
    uses: ./.github/workflows/web-deploy.yml
    needs:
      - infra-init
      - app-build
    with:
      environment: staging
      domain: staging.nvd.sh
    secrets:
      AWS_ROLE_NAME: ${{ secrets.AWS_ROLE_NAME }}

  infra-init:
    name: Init Infrastructure
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_TERRAFORM_ROLE }}

      - name: Init Workspace
        shell: 'nix develop -c bash -e {0}'
        run: make infra.init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}
          TF_WORKSPACE: staging

      - name: Validate
        shell: 'nix develop -c bash -e {0}'
        run: make check.infra
        env:
          TF_WORKSPACE: staging

  infra-deploy-staging:
    name: Infra Staging
    uses: ./.github/workflows/terraform-deploy.yml
    needs:
      - infra-init
    with:
      environment: staging
      working-directory: ./infra
    secrets:
      AWS_TERRAFORM_ROLE: ${{ secrets.AWS_TERRAFORM_ROLE }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  pre-check:
    name: Pre Checks
    runs-on: ubuntu-latest
    environment: approval
    needs:
      - infra-deploy-staging
      - app-deploy-staging
    steps:
      - name: Deployment start timing
        id: deploy_start
        run: |
          echo "deploy_start_time=$(date +"%Y-%m-%d %H:%M:%S")"

  infra-deploy-prod:
    name: Infra Production
    uses: ./.github/workflows/terraform-deploy.yml
    needs:
      - infra-deploy-staging
      - app-deploy-staging
      - pre-check
    with:
      environment: production
      working-directory: ./infra
    secrets:
      AWS_TERRAFORM_ROLE: ${{ secrets.AWS_TERRAFORM_ROLE }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

  app-deploy-prod:
    name: App Production
    uses: ./.github/workflows/web-deploy.yml
    needs:
      - infra-deploy-prod
      - pre-check
    with:
      environment: production
      domain: nvd.sh
    secrets:
      AWS_ROLE_NAME: ${{ secrets.AWS_ROLE_NAME }}
