on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

      working-directory:
        required: false
        type: string
        default: .

    secrets:
      AWS_TERRAFORM_ROLE:
        required: true
      CLOUDFLARE_API_TOKEN:
        required: true
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup nix
        uses: ./.github/actions/setup-nix
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Assume AWS Role
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_TERRAFORM_ROLE }}

      - name: Terraform Init
        shell: 'nix develop -c bash -e {0}'
        run: terraform init
        working-directory: ${{ inputs.working-directory }}
        env:
          TF_WORKSPACE: ${{ inputs.environment }}

      - name: Terraform Plan
        shell: 'nix develop -c bash -e {0}'
        run: terraform plan -out $HOME/plan
        working-directory: ${{ inputs.working-directory }}
        env:
          TF_WORKSPACE: ${{ inputs.environment }}
          TF_CLI_ARGS_plan: '-var-file=./environments/${{ inputs.environment }}.tfvars'
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

      - name: Terraform Apply
        shell: 'nix develop -c bash -e {0}'
        run: terraform apply $HOME/plan
        working-directory: ${{ inputs.working-directory }}
        env:
          TF_WORKSPACE: ${{ inputs.environment }}
          TF_CLI_ARGS_plan: '-var-file=./environments/${{ inputs.environment }}.tfvars'
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
